# Ignore datasets and large files
*.tgz
*.tar
*.zip
*.h5
*.hdf5
*.npz
*.pkl
flower_photos/
flower_photos.tgz

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
# Ignore virtual environment
venv/
# Ignore logs           